<div class="container">
  <form
    class="section form"
    #myForm="ngForm"
    [formGroup]="myFormGroup"
    (ngSubmit)="onSubmit(myForm)"
    enctype="multipart/form-data"
  >
    <div class="form-set">
      <div class="form-element">
        <label for="post-title">Title</label>
        <input
          type="text"
          name="postTitle"
          formControlName="title"
          id="post-title"
          placeholder="Add Title..."
          [ngClass]="{'in-valid': isSubmitted && myFormGroup.controls.title.errors}"
        />
        <div *ngIf=" isSubmitted && myFormGroup.controls.title.errors">
          <div
            *ngIf="myFormGroup.controls.title.errors.required"
            class="text-danger"
          >
            Title is required
          </div>
        </div>
      </div>
      <div class="form-element">
        <label for="category">Category</label
        ><select
          (change)="changeCategory($event)"
          aria-placeholder="Select Category"
        >
          <option
            *ngFor="let category of categories"
            [value]="category.value"
            [selected]="category.defaultForNewPost == true"
          >
            {{ category.name }}</option
          >
        </select>
      </div>
      <div class="form-element" *ngIf="selectedCategory === catWithTextArea">
        <label for="text">Add Text</label>
        <textarea
          rows="3"
          placeholder="Enter the post here..."
          formControlName="textContent"
          [ngClass]="{ 'in-valid': isSubmitted && myFormGroup.controls.textContent.errors}"
        ></textarea>
        <div *ngIf=" isSubmitted && myFormGroup.controls.textContent.errors">
          <div
            *ngIf="myFormGroup.controls.textContent.errors.required"
            class="text-danger"
          >
            Text Content is required
          </div>
        </div>
      </div>

      <div class="form-element" *ngIf="selectedCategory !== catWithTextArea">
        <label for="text">Add Caption</label>
        <textarea
          rows="1"
          placeholder="Enter the caption here..."
          formControlName="textContent"
          [ngClass]="{ 'in-valid': isSubmitted && myFormGroup.controls.textContent.errors}"
        ></textarea>
        <div *ngIf=" isSubmitted && myFormGroup.controls.textContent.errors">
          <div
            *ngIf="myFormGroup.controls.textContent.errors.required"
            class="text-danger"
          >
            Caption is required
          </div>
        </div>
      </div>
      <div class="form-element" *ngIf="selectedCategory !== catWithTextArea">
        <label for="mediaFile">Upload File</label>
        <input
          type="file"
          name="file"
          id="file"
          formControlName="file"
          (change)="selectFile($event)"
          [ngClass]="{ 'in-valid': isSubmitted && myFormGroup.controls.file.errors}"
        />

        <div *ngIf=" isSubmitted && myFormGroup.controls.file.errors">
          <div
            *ngIf="myFormGroup.controls.file.errors.required"
            class="text-danger"
          >
            Select a file
          </div>
          <div
            *ngIf="!myFormGroup.controls.file.errors.required && myFormGroup.controls.file.errors?.inValidExt"
            class="text-danger"
          >
            Invalid file Extension
          </div>
          <div *ngIf="fileSizeFlag" class="text-danger">
            File size should be less than 5MB
          </div>
        </div>
      </div>

      <div class="form-element">
        <label for="tag">Tags</label>
        <input
          type="text"
          name="tag"
          formControlName="tag"
          placeholder="Add Tags seperated by commas..."
          [ngClass]="{'in-valid': isSubmitted && myFormGroup.controls.tag.errors}"
        />
        <div *ngIf=" isSubmitted && myFormGroup.controls.tag.errors">
          <div
            *ngIf="myFormGroup.controls.tag.errors.required"
            class="text-danger"
          >
            Tag is required
          </div>
        </div>
      </div>
      <div>
        <input
          type="checkbox"
          name="isCommentEnabled"
          formControlName="isCommentEnabled"
          class="comment-checkbox"
          checked
        />
        <!-- TODO: By default the check box should be checked -->
        <label for="isCommentEnabled" class="comment-label"
          >Enable Comments</label
        >
      </div>
    </div>
    <div class="form-set">
      <div class="form-element form-btns">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
      </div>
    </div>
  </form>
</div>
