.nav-container {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.container {
  padding: 1rem 3rem;
  margin-top: 75px;
  //   background-color: teal;
  .form-element {
    display: flex;
    // padding: 0.5rem 0rem;
    margin: 0.5rem 0;
    width: 100%;
    flex-direction: column;

    input,
    select,
    button {
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      color: var(--black);
      font-size: 1rem;
    }

    .upload-container > input {
      border: none;
    }

    textarea {
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      color: var(--black);
      font-size: 1rem;
      width: 100%;
    }
    button {
      background-color: var(--icon-clr-1);
      color: white;
      width: 70%;
      margin: 0.5rem 3rem 0 3rem;
      border: none;
      transition: all 0.25s ease-in-out;
      cursor: pointer;
      &:hover {
        background: #2689c1;
      }
    }
  }
}
