<div class="navbar">
  <div class="primary-bar">
    <div
      class="back-btn"
      [ngClass]="{
        hide: !showBackBtn
      }"
    >
      <button routerLink="/">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="title">Post-Ups</div>
    <div
      class="search-btn"
      [ngClass]="{
        hide: !showSearchBtn
      }"
    >
      <button (click)="showSearchBar = !showSearchBar">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div
    class="secondary-bar"
    [ngClass]="{
      'show-search-bar': showSearchBar,
      'show-secondary-nav-bar': showSecondaryNavBar
    }"
  >
    <div class="search-tag">
      <input
        type="text"
        name="tag"
        [(ngModel)]="tag"
        class="tag-input"
        placeholder="Search Tag..."
        (keyup.enter)="searchTag(tag)"
      />
      <button class="search-btn" (click)="searchTag(tag)">
        <i class="far fa-paper-plane"></i>
      </button>
    </div>
    <div class="sorts-and-filters">
      <div class="feeds" *ngFor="let item of feed">
        <button
          *ngIf="isTagSearched"
          class="element"
          [ngClass]="{
            active: item.isActive
          }"
          (click)="refreshFeed(item.value)"
        >
          <span *ngIf="item.value === defaultTagForViewComparision">{{
            item.name
          }}</span>
          <span *ngIf="item.value !== defaultTagForViewComparision"
            >Search"{{ item.name }}"</span
          >
        </button>
      </div>
      <div class="sorts" *ngFor="let item of sorts">
        <button
          class="element"
          [ngClass]="{
            active: item.isActive
          }"
          (click)="sortFeed(item.value)"
        >
          {{ item.name }}
        </button>
      </div>
      <div class="category">
        &nbsp;&nbsp;Filter:
        <select
          class="element active"
          [(ngModel)]="selectedCategory"
          aria-placeholder="Select Category"
          (change)="changeCategory()"
        >
          <option *ngFor="let category of categories" [value]="category.value">
            {{ category.name }}</option
          >
        </select>
      </div>
    </div>
  </div>
</div>
