<div class="container">
  <div class="section header">
    <label class="post-title">
      {{ post.title }}
    </label>
    <label class="post-category">
      {{ post.category }}
    </label>
  </div>
  <div class="section main-content">
    <div class="text" *ngIf="post.category === 'text'">
      <p>{{ post.textContent }}</p>
    </div>
    <div class="image" *ngIf="post.category === 'image'">
      <img class="content" src="../../assets/image2.jfif" alt="post-image" />
    </div>
    <div class="video" *ngIf="post.category === 'video'">
      <video class="content" controls autoplay="autoplay">
        <source
          src="../../assets/coverr-aerial-view-of-rocky-mountains-1585320758193.mp4"
          type="video/mp4"
        />
      </video>
    </div>
    <div class="audio" *ngIf="post.category === 'audio'">
      <figure class="content">
        <audio controls src="../../assets/Danza Kuduro.mp3"></audio>
      </figure>
    </div>
  </div>
  <div class="section caption" *ngIf="post.category !== 'text'">
    {{ post.textContent }}
  </div>
  <div class="section post-stat">
    <div class="like-view">
      <div class="likes" (click)="likeThisPost(post._id)">
        {{ post.likes }}
        <button>
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
      </div>
      <div class="views">
        {{ post.views }}
        <button>
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="comments-count">
      {{ post.comments.length }}
      <button>
        <i class="fa fa-comment" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="section date-posted">
    {{ post.datePosted.toDateString() }}
  </div>
  <div class="section tags" *ngIf="post.tags.length > 0">
    <label class="tag-title">Tags&nbsp;&nbsp;</label>
    <div class="tag" *ngFor="let tag of post.tags">
      <a class="tag-link" (click)="searchThisTag(tag)">
        {{ tag }}
      </a>
    </div>
  </div>
  <div class="section comments">
    <label>Comments</label>
    <div class="comment-container">
      <div class="comment" *ngFor="let commentObj of post.comments">
        <div class="comment-content">{{ commentObj.comment }}</div>
        <div class="date-posted">
          {{ commentObj.datePosted.toDateString() }}
        </div>
      </div>
    </div>
    <div class="add-comment-section">
      <input
        type="text"
        name="comment"
        [(ngModel)]="comment"
        class="add-comment"
        placeholder="Add comment..."
        (keyup.enter)="sendComment(comment)"
      />
      <button class="send-comment" (click)="sendComment(comment)">
        <i class="far fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
