/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --pale-blue-green: #ecfaf5;
  --pale-green: #dcf8c6;
  --pale-yellow: #fff5c4;
  --pale-red: #f79c9f;
  --pale-blue: #e1f3fb;
  --blue-ocean: #aadaff;
  --pale-white: #f9f9f9;
  --pale-grey: #f0f0f0;
  --green: #35d371;

  --lime-accent: #9acb34;
  --teal-accent: #45ada8;
  --blue-accent: #4285f4;
  --yellow-accent: #fce100;
  --green-accent: #16c60c;
  --orange-accent: #f7630c;
  --red-accent: #e81224;
  --dark: #363e4b;
  --medium: #3c4758;
  --light: #fbf8ef;
  --black: #0a112877;

  --emboss: 6px 6px 10px rgba(0, 0, 0, 0.1),
    -6px -6px 10px rgba(255, 255, 255, 0.8);
  --deboss: inset 6px 6px 10px rgba(0, 0, 0, 0.1),
    inset -6px -6px 10px rgba(255, 255, 255, 0.8);
}

.fa::before,
.far::before,
.fas::before {
  font-style: normal;
  font-family: "Font Awesome 5 Free";
}

// ******************* //
// Default Card Styles //
// ******************* //

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}
